<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Maven project">
<listeners>
<listener class-name="tests.SampleListener" />
</listeners>
  <test name="Test scripts execution">
    <classes>
      <class name="tests.TestScripts"/>
     
    </classes>
  </test>
</suite>