<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Maven project">

  <test name="Testscriptsexecution">
    <classes>
   
     <class name ="Scripts.PassportLoginTestScript"/>
     <class name ="Scripts.PassportVerificationTestScript"/> 
     <class name ="Scripts.UpdateTestScript"/>
     <class name="Scripts.LoginTestScript"/>
     <class name ="Scripts.UserTestScript"/> 
     <class name ="Scripts.AadharLoginTestScript"/>
     <class name ="Scripts.AadharVerificationTestScript"/>
     <class name ="Scripts.NSDLLoginTestScript"/>
      <class name ="Scripts.NSDLVerificationTestScript"/> 
      
      
     <!--  <class name ="Scripts.NSDLLoginScript"/> -->
     
    </classes>
  </test>
</suite>