<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Maven project">

  <test name="Testscriptsexecution">
    <classes>
      <class name="Scripts.LoginTestScript"/>
      <class name ="Scripts.Userscript"/>
     <!--  <class name ="Scripts.NSDLLoginScript"/> -->
     
    </classes>
  </test>
</suite>